---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103rhF20rukLV0Wo0YdsT0MF&description=Charge%20for%20MyFlix%20Subscription%2C%20fake%40fake.com
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103rhF20rukLV0WogvtNb0s0",
          "object": "charge",
          "created": 1397673220,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103rhF20rukLV0Wo2tQCHGBz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "YDswDJ57KdtFpKMt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103rhF20rukLV0WoVRpnfBe4",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for MyFlix Subscription, fake@fake.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 16 Apr 2014 18:33:39 GMT
recorded_with: VCR 2.9.0
