---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=fake%40fake.com&plan=base&card=tok_103sSe20rukLV0WodSjgbMYp
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397849558,
          "id": "cus_3sSejy9ckHHCYn",
          "livemode": false,
          "description": null,
          "email": "fake@fake.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3sSejy9ckHHCYn/subscriptions",
            "data": [
              {
                "id": "sub_3sSep9JjTARhVW",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1397847521,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix"
                },
                "object": "subscription",
                "start": 1397849558,
                "status": "active",
                "customer": "cus_3sSejy9ckHHCYn",
                "cancel_at_period_end": false,
                "current_period_start": 1397849558,
                "current_period_end": 1400441558,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3sSejy9ckHHCYn/cards",
            "data": [
              {
                "id": "card_103sSe20rukLV0Wo0c1gQ0id",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "YDswDJ57KdtFpKMt",
                "customer": "cus_3sSejy9ckHHCYn",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103sSe20rukLV0Wo0c1gQ0id"
        }
  recorded_at: Fri, 18 Apr 2014 19:32:38 GMT
recorded_with: VCR 2.9.0
