---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=fake%40fake.com&plan=base&card=tok_103sSe20rukLV0WodsAZZzfU
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 18 Apr 2014 19:32:30 GMT
recorded_with: VCR 2.9.0
