---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103riz20rukLV0WosGWNajxl&description=Charge%20for%20MyFlix%20Subscription%2C%20fake%40fake.com
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103rj020rukLV0WoZM5p3ZLe"
          }
        }
  recorded_at: Wed, 16 Apr 2014 20:22:19 GMT
recorded_with: VCR 2.9.0
