---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103tVW20rukLV0WoS6Pv3sxt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103tVW20rukLV0WoS6Pv3sxt",
          "created": 1398090873,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103tVW20rukLV0Woy8rZdBdn",
              "object": "charge",
              "created": 1398090872,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103tVW20rukLV0Woo85LL0ps",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 9,
                "exp_year": 2017,
                "fingerprint": "YDswDJ57KdtFpKMt",
                "customer": "cus_3tVWkvqzmpjSDY",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103tVW20rukLV0WoHTul4XfT",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3tVWkvqzmpjSDY",
              "invoice": "in_103tVW20rukLV0WozN3MwSuW",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3tVW0r8ICf4VFq"
        }
  recorded_at: Mon, 21 Apr 2014 15:22:20 GMT
recorded_with: VCR 2.9.0
