---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103tXX20rukLV0WotMALXKn7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103tXX20rukLV0WotMALXKn7",
          "created": 1398098402,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103tXX20rukLV0WoKZEreFTY",
              "object": "charge",
              "created": 1398098402,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103tXW20rukLV0Woz2SKHmqo",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "eChiXDEYqx2oUxEY",
                "customer": "cus_3tWedhwdFz3Q0U",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3tWedhwdFz3Q0U",
              "invoice": null,
              "description": "testing failed payment",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3tXXaueD5TeH4U"
        }
  recorded_at: Mon, 21 Apr 2014 16:47:41 GMT
recorded_with: VCR 2.9.0
