---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103rgW20rukLV0WoarZ0xRdb",
          "livemode": false,
          "created": 1397670510,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103rgW20rukLV0WoyOaC3Ubz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "YDswDJ57KdtFpKMt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 16 Apr 2014 17:48:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_103rgW20rukLV0WoarZ0xRdb&description=Valid%20Charge
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103rgW20rukLV0WoxJIIBQIm",
          "object": "charge",
          "created": 1397670511,
          "livemode": false,
          "paid": true,
          "amount": 400,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103rgW20rukLV0WoyOaC3Ubz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "YDswDJ57KdtFpKMt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103rgW20rukLV0WoeVgNNq6M",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Valid Charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 16 Apr 2014 17:48:31 GMT
recorded_with: VCR 2.9.0
