---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103sSQ20rukLV0WoWYQwQsRB",
          "livemode": false,
          "created": 1397848703,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103sSQ20rukLV0Woof4wr1QF",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "YDswDJ57KdtFpKMt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 18 Apr 2014 19:18:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=kenna%40gleason.info&plan=base&card=tok_103sSQ20rukLV0WoWYQwQsRB
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397848704,
          "id": "cus_3sSQ1okrItACVG",
          "livemode": false,
          "description": null,
          "email": "kenna@gleason.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3sSQ1okrItACVG/subscriptions",
            "data": [
              {
                "id": "sub_3sSQPsTFlwZ4ro",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1397847521,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix"
                },
                "object": "subscription",
                "start": 1397848704,
                "status": "active",
                "customer": "cus_3sSQ1okrItACVG",
                "cancel_at_period_end": false,
                "current_period_start": 1397848704,
                "current_period_end": 1400440704,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3sSQ1okrItACVG/cards",
            "data": [
              {
                "id": "card_103sSQ20rukLV0Woof4wr1QF",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "YDswDJ57KdtFpKMt",
                "customer": "cus_3sSQ1okrItACVG",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103sSQ20rukLV0Woof4wr1QF"
        }
  recorded_at: Fri, 18 Apr 2014 19:18:24 GMT
recorded_with: VCR 2.9.0
