---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103sSR20rukLV0WoDhivbtkJ",
          "livemode": false,
          "created": 1397848805,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103sSR20rukLV0WoJNbpuoi5",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "w5TUmL3XSWr7ixLx",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 18 Apr 2014 19:20:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=devon.fadel%40leffler.com&plan=base&card=tok_103sSR20rukLV0WoDhivbtkJ
    headers:
      Authorization:
      - Bearer sk_test_0FpmDmQi1YnBQuNKiWUH4Qm5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 18 Apr 2014 19:20:05 GMT
recorded_with: VCR 2.9.0
