!!! 5
%html(lang="en-US")
  %body
    %p Dear, #{@user.full_name}
    %p You, or someone else has requested a password reset for your account. Please click the link below to reset your password. If you did not request a password reset, please ignore this email.
    %p= link_to "Reset My Password", password_reset_url(@user.token)
